body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  height:auto;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.swiper-wraper{
  height:500px;
  width: 100%
}

.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.well{
  margin-bottom: 20px;
  padding: 20px;
  background: gainsboro;
  
}